<template>
    <div class="container">
        <div class="h60 header">
            <div class="title">
                O mnie
            </div>
        </div>
        <div class="h100 main">
            <div class="cont">
                <div>
                    <p class="maintext">
                        W branży budowlanej działam nieustannie od 1997r, dzięki czemu udało mi się wypracować takie standardy pracy,
                        że nawet najbardziej skomplikowane zlecenie jestem w stanie wykonać precyzyjnie i fachowo. <br><br>
                    </p>
                    <p class="maintext">
                        Zajmuje się kompleksowymi adaptacjami i remontami wnętrz oraz adaptacją poddaszy.
                        Od 29.03.2017 jestem oficjalnym dystrybutorem sufitów napinanych.
                        Wykonuję także prace wykończeniowe na zewnątrz budynków.
                        Jestem a wykwalifikowanym i doświadczonym budowlańcem dla którego budowlanka jest pasją, a nie kolejną pracą do której trzeba przyjść.
                        Szczególna uwagę zwracam na jakość i wysoki standard wykonania zleceń.
                        Prace w biurowcach prowadzę o takiej porze aby państwo mogli swobodnie zając się pracą.
                        Dotrzymuję terminów realizacji o ile nie zostają mi narzucone dodatkowe prace.
                        Na podstawie ślepego kosztorysu tworzę szybką i profesjonalna wycenę.
                        Pracuję tylko na profesjonalnym sprzęcie niskonapięciowym (18V) zgodnym z zasadami BHP co przekłada się na brak ryzyka wypadkowego na Waszej inwestycji.
                    </p>
                </div>

                <div>
                    <h1>Nasza firma</h1>

                    <img src="/wizytówka.jpg" alt="wizytówka">
                </div>

                <div>
                    <p class="maintext">
                        Jesteśmy firmą która specjalizuje się w izolacji oraz zabudowie poddaszy. Dla tego też zacznę opis od poddasza.<br><br>
                    </p>
                    <p class="maintext">
                        Każda przegroda budowlana powinna charakteryzować się pewną izolacyjnością termiczną (cieplną), by uniknąć strat ciepła.
                        Izolacyjność cieplna przegrody charakteryzuje współczynnik przenikania ciepła U[W/(m •K)].
                        Im większa wartość współczynnika U tym gorsza izolacyjność cieplna przegrody.
                        Polskie prawo (Rozporządzenie Ministra Infrastruktury w sprawie warunków technicznych, jakim powinny odpowiadać budynki i ich usytuowanie)
                        podaje maksymalne wartości współczynników U dla poszczególnych przegród budowlanych.
                        Na izolacyjność cieplną przegród wpływają cechy termoizolacyjne materiałów, z których przegroda została wykonana.
                        Im „cieplejszy materiał tym większa izolacyjność termiczna przegrody.
                        Parametrem opisującym właściwości materiałów termoizolacyjnych jest współczynnik przewodzenia ciepła λ λ(lambda) [W/mK].
                        Im niższy, tym lepsze właściwości termoizolacyjne materiału.<br><br>
                    </p>
                    <p class="maintext">
                        Izolację poddasza rozpoczynamy od dokładnego pomiaru rozstawu pomiędzy krokwiami.
                        Ponieważ drugą warstwę wełny montujemy pod krokwiami między pierwszą warstwą wełny a płytą kartonowo-gipsową konieczny jest montaż stelaża.
                        Rozpoczynamy od przymocowania wieszaków dystansowych. Odmierzamy odcinki wełny o 2 cm większe od odmierzonej pomiędzy krokwiami odległości.
                        Umieszczamy pierwszą warstwę wełny pomiędzy krokwiami, montując ją na lekki wcisk.
                        Drugą warstwę wełny układamy prostopadle do warstwy poprzedniej, nabijając ja na wieszaki.
                        Po ułożeniu drugiej warstwy wełny wpinamy profile typu C. Na całej powierzchni poddasza montujemy najlepiej paroizolację Vario KM Duplex z min.
                        10 cm zakładem łącząc ją ze stelażem za pomocą dwustronnej taśmy klejącej.
                        Aby zapewnić szczelność paroizolacji poszczególne warstwy dodatkowo łączymy ze sobą za pomocą taśmy klejącej KB1.
                        Przy przejściach instalacyjnych stosujemy Multitape. Do łączenia paroizolacji ze ścianą oraz innych specjalnych połączeń służy uszczelniacz Vario DoubleFit.
                        Na tak zaizolowaną powierzchnię montujemy płyty kartonowo-gipsowe.
                        Tutaj też najlepsze w swoim rodzaju to Płyta gipsowo-kartonowa RIGIPS 4PRO™ z nadrukowaną miarką która posiada wszystkie 4 krawędzie spłaszczone.
                        Technologia 4PRO™ wyklucza wykonywanie ciętych spoin poprzecznych, zapewniając brak zgrubień w miejscach łączeń,
                        tą samą wytrzymałość co spoiny wzdłużne, ten sam wygląd, duże oszczędności mas, możliwość wykonywania spoin podłużnych i poprzecznych w jednym etapie,
                        w przypadku szpachlowania całopowierzchniowego o wiele cieńszą warstwę materiału. Płyty RIGIPS PRO typ A (GKB) 12,5 mm można montować w pomieszczeniach,
                        w których wilgotność względna nie przekracza 70%. Przeznaczone są do wykonywania suchych tynków,
                        okładzin na ścianach i sufitach oraz wykorzystywane są jako poszycie ażurowej konstrukcji ścian działowych i sufitów podwieszanych w lekkich systemach zabudowy wnętrz.
                        RIGIPS 4PRO – jedyne na rynku rozwiązanie pozwalające wykonać ściany i sufity o najwyższym stopniu gładkości,
                        przy jednoczesnym znacznym ograniczeniu stopnia użycia mas szpachlowych. Posiada wszystkie cechy płyt RIGIPS PRO.<br><br>
                    </p>

                    <ul>
                        <li>wszystkie 4 krawędzie wykonane w technologii PRO umożliwiają błyskawiczny montaż – brak konieczności przygotowywania krawędzi ciętej</li>
                        <li>idealnie płaska powierzchnia</li>
                        <li>ta sama wytrzymałość wszystkich połączeń – jeszcze niższe ryzyko pęknięć</li>
                        <li>o wiele czystszy montaż, szlifowanie ograniczone do minimum</li>
                        <li>oszczędność mas – redukcja zużycia masy konstrukcyjnej o 23%, masy finiszowej – o 15%!</li>
                    </ul>
                </div>
                <div>
                    <p class="maintext">
                        <br><br>
                        Systemy suchej zabudowy to płyty gipsowe, profile, szpachle, jak również szereg różnych wieszaków, łączników i innych elementów montażowych.<br><br>

                        Szpachlowanie połączeń standardowo w stopniu jakości Q2+ (na szerokość pacy do 30cm) według firmy Knauf, ewentualnie Q1 np. pod glazurę.<br><br>

                        Szpachlowanie naroży płyta-płyta wykonujemy jako połączenie sztywne lub ślizgowe.<br><br>

                        Szpachlowanie płyta-tynk (obwodowe) wykonujemy jako połączenie ślizgowe.<br><br>

                        Narożniki i taśmy zbrojące ze względu na swoją grubość powodują wypukłości na płytach.
                        Wypukłości łagodzimy szpachlą (w naszym przypadku są to pace profilowane renomowanej marki Marshall)
                        rozciągając ją na szerokość długiej pacy lub pióra po obu stronach łączenia tak by łączenia były niewidoczne wizualnie po malowaniu.
                        Jednak długa łata je wskaże.<br><br>

                        Szpachlowanie całych płyt Q3 lub Q4 to dodatkowy koszt.<br><br>

                        Szpachlowanie Q3 (jednokrotne całych płyt) lub zagruntowanie specjalnym gruntem z wypełniaczami ma za zadanie jedynie wyrównać strukturę szpachli i płyty.<br><br>

                        Szpachlowanie Q4 (dwukrotne całych płyt) – wyrównuje strukturę i eliminuje cienie lub wypukłości na łączeniach płyt,
                        które mogły by być widoczne po malowaniu – odpowiednik gładzi na ścianach tynkowanych.
                        Wykonywane jest do światła równoległego droższymi materiałami (gotowe masy szpachlowe np. KNAUF).
                        Do tego zadania używamy narzędzi Parfait liss oraz Graco. Wymagane przy oświetleniu liniowym, równoległym itp.
                        Przeważnie wykonujemy je w domach i mieszkaniach.<br><br>

                        Szpachlowanie jest odbierane zgodnie z normą budowlaną.<br><br><br><br>

                        Powierzchnie są przygotowane do malowania tzn. wyszlifowane i odkurzone w stopniu pozwalającym na gruntowanie.
                        Posiadamy specjalny mop który przyciąga i utrzymuje kurz w runie.
                        Pocierając nim o powierzchnię, elektrostatycznie są usuwane wszelkie zanieczyszczenia.<br><br>

                        Od powierzchni ścian i sufitów nie odliczamy obudów i otworów. Obowiązuje zasada, że łuki są dwa razy droższe od elementów prostych.<br><br>

                        Proces malowania na wcześniej niemalowanych powierzchniach gipsowych zawiera obowiązkowe gruntowanie gruntem wodnym (wzmocnienie podłoża i związanie pyłu),
                        zalecamy malowanie podkładem (wyrównanie chłonności i struktury podłoża, polepszenie przyczepności farby nawierzchniowej)
                        oraz dwukrotne malowanie farbą nawierzchniową które zawarte jest w wycenie.<br><br>

                        Proces malowania na wcześniej niemalowanych powierzchniach cementowo wapiennych zawiera obowiązkowe gruntowanie
                        farbą gruntującą (wzmocnienie i związanie podłoża), zalecane malowanie podkładem
                        (wyrównanie chłonności i struktury podłoża, polepszenie przyczepności farby nawierzchniowej)
                        oraz dwu lub trzykrotne malowanie farbą nawierzchniową. Im bardziej gruboziarnisty tynk tym więcej farby wymaga.<br><br>

                        Kolory wyraziste na bazie transparentnej wymagają podkładu w podobnym kolorze lub szarym a nawet dodatkowego malowania.<br><br>

                        Malowanie powierzchni wcześniej gruntowanych i malowanych farbami emulsyjnymi,
                        niezatłuszczonych w większości przypadków nie wymaga gruntowania i podkładu – to koszt tylko dwukrotnego malowania.<br><br>

                        Malowanie farbami emulsyjnymi starych farb kredowych lub łuszczących się jest nie do przyjęcia. Takie farby wymagają usunięcia.
                        Następnie ściany należy umyć, ewentualnie zagruntować i szpachlować oraz przeprowadzić proces malowania jak na wcześniej niemalowanych powierzchniach.<br><br>

                        Do metrów kwadratowych malowanej powierzchni są doliczane metry bieżące odcięcia koloru przy meblach, listwach, okładzinach, drewnie itp. za pomocą taśmy lub innych technik.<br><br>

                        Prace związane z wykonaniem tynków gipsowych cienkowarstwowych (potocznie gładzi) wykonuje się przez gipsowanie (wyrównywanie),
                        szpachlowanie, blichowanie (szpachlowanie na mokro, bezpyłowo), szlifowanie, wykonanie zaprawek, stiukowanie itd.
                        Większość ścian w starym budownictwie wymaga napraw i wyrównania czyli gipsowania co podnosi ostateczną cenę szpachlowania.<br><br>

                        <b>Malowanie i szpachlowanie jest odbierane w świetle dziennym (nie równoległym, rozproszonym),
                        na wprost, w odległości 2m od odbieranej powierzchni zgodnie z normą PN-B-10110:2005.</b><br><br>

                        Szpachlowanie najwyższej jakości może być sprawdzane światłem równoległym lub pod dowolnym kątem.
                        Jest to szpachlowanie zalecane np. przy oświetleniu krawędziowym lub kinkietach świecących światłem równoległym do powierzchni oraz przy malowaniu farbami z połyskiem
                        (satyna, półmat itd.), które znacznie dokładniej odbijają światło.<br><br>

                        Stosując odpowiednie materiały w połączeniu z metodą natrysku można uzyskać gładzie w jakości nieosiągalnej dla zwykłych gładzi sypkich.<br><br>

                        Technika malowania metodą natryskową, to nic innego jak wyrzucanie drobinek farby pod wpływem wysokiego ciśnienia, za pomocą agregatu hydrodynamicznego.
                        W naszym przypadku producentem agregatu jest to renomowana firma Graco. W jaki sposób to działa? Farba umieszczona w agregacie,
                        pod wpływem sprężonego powietrza zostaje rozbita na mniejsze krople, a następnie wydostaje się z dyszy urządzenia na malowane podłoże.
                        Jest to nowoczesna metoda, która pozwala w szybki i dokładny sposób pomalować duże powierzchnie ścian: średni czas pokrywania farbą wynosi 4 m2 na minutę.
                        Stosując tą technikę, wystarczy jednokrotne pokrycie malowanego podłoża, farba jest równomiernie nałożona,
                        bez zacieków, czego efektem jest gładka i jednolita powłoka malarska.<br><br>

                        <b> Jesteśmy oficjalnym dystrybutorem sufitów napinanych.</b><br><br>

                        <b>Sufity napinane</b> to nowoczesne i ekonomiczne wykończenie każdego rodzaju wnętrza.
                        Doskonale sprawdzają się zarówno w pomieszczeniach mieszkalnych jak i lokalach użyteczności publicznej.
                        Innowacyjna technologia umożliwia nadanie każdemu wnętrzu unikatowego i niepowtarzalnego wyglądu.
                        W odróżnieniu od tradycyjnych sufitów podwieszanych, pozwalają one na całkowitą dowolność nie tylko w doborze koloru czy faktury, ale również kształtu sufitu.
                        <b>Nowatorski system</b> montażu sprawia, że poza walorami estetycznymi mogą też pełnić funkcję ochronną (np. przed zalaniem).
                        Niska cena w połączeniu z szeroką paletą możliwości aranżacji wnętrz to powody, dla których sufity napinane są coraz częściej wybierane przez projektantów,
                        architektów i wykonawców, jako doskonałe wykończenie każdego wnętrza. Dotyczy to zarówno nowych budynków,
                        jak i tych remontowanych. <b>Sufit napinany jest bardzo lekki</b>, co nie powoduje obciążenia istniejącego stropu.
                        Za jego pomocą można obniżać wysokie pomieszczenia, a w przypadku niskich pomieszczeń, stosując folie z lustrzanym odbiciem,
                        wizualnie podwyższyć je, nie tracąc cennej przestrzeni, ponieważ sufit napinany nie powoduje obniżenia pomieszczeń,
                        gdyż montowany jest na profilach przysufitowych o wysokości ok. 30 mm.
                        W suficie napinanym można montować praktycznie wszystkie rodzaje oświetlenia tradycyjnego i niekonwencjonalnego (led, światłowód) oraz podświetlać go od góry.
                        W suficie napinanym można również montować systemy wentylacji i nawiewu. <b>Sufit napinany jest odporny na przenoszenie drgań</b>.
                        Jest antyelektrostatyczny, co oznacza, że nie przyciąga drobin kurzu i innych zanieczyszczeń. Sufit napinany jest wodoodporny.
                        Chroni pomieszczenie przed zalaniem z góry (wytrzymuje ciężar ok 120 litrów na 1 m2) oraz stanowi ochronę przeciwwilgociową.
                        Jeżeli zaistnieje taka potrzeba, sufit można umyć za pomocą wody i mikrofibry.<br><br>

                        Nasze zlecenia wykonywane są na wysokim poziomie przy wykorzystaniu profesjonalnego sprzętu.
                        Ciągle zdobywamy nowe certyfikaty na nasze produkty aby osiągnąć jak najwięcej wymagań naszych klientów w każdej możliwej przestrzeni komercyjnej czy prywatnej.<br>


                    </p>
                </div>

            </div>
            <div class="checked">
                <img src="sprawdzona-firma.png" alt="Sprawdzona firma!">
            </div>
        </div>
        <foter/>
    </div>
</template>

<script>
import foter from '@/components/foter.vue'

export default {
  components:{
    foter
  }
}
</script>


<style lang="scss">
.container{
    .header{
        background: url('/bg/ciemne.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        position: relative;

        .title{
            width: 100%;
            padding: 0 20px;
            height: auto;
            position: absolute;
            left: 0;
            top: 45%;
            color: white;
            font-weight: 800;
            font-size: 40pt;
            text-align: center;
        }
    }

    .main{
        justify-content: center;

        .cont{
            min-width: 290px;
            width: 40%;
            padding: 100px 0;
            margin: 0 30%;
            text-align: center;

            p.starttext{
                font-size: 20px;
                color: #666;
                padding: 50px 0;
            }

            h1{
                padding-top: 50px;
                padding-bottom: 20px;
                color: #333;
            }

            p.maintext{
                text-align: justify;
                line-height: 30px;
                color: #666;
            }

            p.endtext{
                color: #666;
                padding: 100px 0;
                font-size: 16px;
            }

            img{
                width: 100%;
            }

            ul{
                text-align: left;
                color: #666;

                li{
                    padding: 5px 0;
                }
            }
        }
        
        .checked{
            width: 100%;
            padding: 100px 0;
            background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('/bg/ciemne.jpg');
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            position: relative;

            img{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
</style>

<style lang="scss" scoped>
@media (max-width: 768px){
    .container{
        .main{
            .cont{
                min-width: 290px;
                width: 80%;
                padding: 100px 0;
                margin: 0 10%;
                text-align: center;
            }
        }
    }
}

@media (max-width: 375px){
    .container{
        .main{
            .cont{
                min-width: 290px;
                width: 90%;
                padding: 100px 0;
                margin: 0 5%;
                text-align: center;
            }
        }
    }
}
</style>


<style>
.h100{
    min-height: 100vh;
    height: auto;
}
.h90{
    min-height: 90vh;
    height: auto;
}
.h80{
    min-height: 80vh;
    height: auto;
}
.h70{
    min-height: 70vh;
    height: auto;
}
.h60{
    min-height: 60vh;
    height: auto;
}
.h50{
    min-height: 50vh;
    height: auto;
}
.h40{
    min-height: 40vh;
    height: auto;
}
.h30{
    min-height: 30vh;
    height: auto;
}
.h20{
    min-height: 20vh;
    height: auto;
}
.h10{
    min-height: 10vh;
    height: auto;
}
</style>